.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-1:hover {
  background-color: #ffdd61;
}

.button-1 {
  cursor: pointer;
  background-color: #e6b400;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.button-2:hover {
  background-color: #6dffe7;
}

.button-2 {
  cursor: pointer;
  background-color: #00e6c0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  margin-top: 40px;
}

.spinner-1 {
  width: 75px !important;
  height: 75px !important;
  margin: 45px 0px !important;
  background-color: #00e6c0 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
